<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProMan</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <link rel="stylesheet" href="../static/css/design.css">
    <link rel="stylesheet" href="../static/css/drag@drop.css">

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>


</head>
<body>
<div class="navbar-container">
    <nav class="navbar">
        <button class="btn btn-outline-warning my-2 my-sm-0" id="registration">Registration</button>
        <button class="btn btn-outline-warning my-2 my-sm-0" id="login">Login</button>
    </nav>
</div>
<div id="registration-modal" class="modal">
    <div class="modal-button-container">
        <button id="registration-close" class="modal-close">
            <i class="fas fa-window-close"></i>
        </button>
    </div>
    <form action="{{ url_for('registration') }}" method="POST">
        <p>
            <input type="text" name="username" id="username" placeholder="Username...">
        </p>
        <p>
            <input type="password" name="password" id="password" placeholder="Password...">
        </p>
        <p>
            <input type="text" name="email" id="email" placeholder="E-mail...">
        </p>
        <button type="submit">Register</button>
    </form>
</div>
<div id="login-modal" class="modal">
    <div class="modal-button-container">
        <button id="login-close" class="modal-close">
            <i class="fas fa-window-close"></i>
        </button>
    </div>
    <form action="#" method="POST">
        <p>
            <input type="text" name="username" placeholder="Username...">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password...">
        </p>
        <button type="submit">Login</button>
    </form>
</div>
<div class="head">
    <h1>ProMan</h1>
    <button class="board-add">Add board</button>
</div>
<!-- Emmet: .board-container>section.board*3>.board-header>(span.board-title{Board $}+button.board-add{Add Card}+button.board-toggle>i.fas.fa-chevron-down)^.board-columns>((.board-column>.board-column-title{New}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{In Progress}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{Testing}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))+(.board-column>.board-column-title{Done}+.board-column-content>.card*5>(.card-remove>i.fas.fa-trash-alt^.card-title{Card $}))) -->
<div id="modal" class="hidden">
    <div id="modal-content">
        <p>Enter column name</p>
        <input type="text" id="col-name">
        <input class="hidden" type="text" id="board-id">
        <button id="submit-button" class="button">Add</button>
        <button id="close-button" class="button">Cancel</button>
    </div>
</div>
<div class="board-container" id="boards">
</div>

</body>
</html>